.aboutMe {
    position: relative;
    color: $color-grey-light-1;
    width: 100%;

    

    .mainConten{
        width: 1200px;
        background-color: #526760;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        padding: 24px;
        display: grid;   
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas: '.    .     mepic'
                            'texts texts texts'
                            'botumText botumText botumText';

        .aboutMe__shape {
            grid-area: mepic;
            width: 350px;
            height: 350px;
            overflow: hidden;
            border-radius: 3px;
            position: relative;
            box-shadow: 0 1rem 1rem rgba($color-black, .2);
            // FUNCTIONALITY
            perspective: 500rem;
            -moz-perspective: 500rem;
            transition: all .2s;
            transition-timing-function: cubic-bezier(0.75, 0.76, 0.47, 1.19);
        }

        .heder__text {
            grid-area: texts;
            .line {
                width: 0%;
                border-bottom: 1rem solid $color-primary-light;
                animation: aboutline 12s forwards 2s ease-out;
    
            }
    
            &--h3 {
                font-size: 4rem;
                color: $color-primary-light;
                line-height: 3.5rem;
    
            }
    
            P {
                font-size: 2rem;
            }
        }

        .botumText{
            grid-area: botumText;
            display: flex;

            justify-content: space-around;

            .r{
                .Donwload__position{
                    margin-top: 12px;
                }
            }
        }



    }



    .ul {
        transform: rotateX(-10deg) rotateY(10deg) scale(1.01);
        -webkit-box-shadow: 10px 11px 24px -2px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 10px 11px 24px -2px rgba(0, 0, 0, 0.45);
        box-shadow: 10px 11px 24px -2px rgba(0, 0, 0, 0.45);

    }





    .ur {
        transform: rotateX(-10deg) rotateY(-10deg) scale(1.01);
        -webkit-box-shadow: -10px 11px 24px -2px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: -10px 11px 24px -2px rgba(0, 0, 0, 0.45);
        box-shadow: -10px 11px 24px -2px rgba(0, 0, 0, 0.45);
    }




    .dl {
        transform: rotateX(10deg) rotateY(10deg) scale(1.01);

        -webkit-box-shadow: 10px -11px 24px -2px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 10px -11px 24px -2px rgba(0, 0, 0, 0.45);
        box-shadow: 10px -11px 24px -2px rgba(0, 0, 0, 0.45);
    }

    .dr {
        transform: rotateX(10deg) rotateY(-10deg) scale(1.01);
        -webkit-box-shadow: -10px -11px 24px -2px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: -10px -11px 24px -2px rgba(0, 0, 0, 0.45);
        box-shadow: -10px -11px 24px -2px rgba(0, 0, 0, 0.45);
    }

    .uu {
        transform: rotateX(-10deg) scale(1.01);
        -webkit-box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.47);
        box-shadow: 0px 10px 24px -2px rgba(0, 0, 0, 0.47);
    }

    .dd {
        transform: rotateX(-10deg) scale(1.01);
        -webkit-box-shadow: 0px -10px 24px -2px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px -10px 24px -2px rgba(0, 0, 0, 0.47);
        box-shadow: 0px -10px 24px -2px rgba(0, 0, 0, 0.47);
    }

    .rr {
        transform: rotateY(-10deg) scale(1.01);
        -webkit-box-shadow: -10px 0px 24px -2px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: -10px 0px 24px -2px rgba(0, 0, 0, 0.47);
        box-shadow: -10px 0px 24px -2px rgba(0, 0, 0, 0.47);
    }

    .ll {
        transform: rotateY(10deg) scale(1.01);
        -webkit-box-shadow: 10px 0px 24px -2px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 10px 0px 24px -2px rgba(0, 0, 0, 0.47);
        box-shadow: 10px 0px 24px -2px rgba(0, 0, 0, 0.47);
    }

    .oo {
        box-shadow: 0 0rem 1rem rgba($color-black, .1);
        transform: scale(.99);
    }

    .ul2 {
        transform: rotateX(-10deg) rotateY(10deg) scale(1.01);
        -webkit-box-shadow: inset -15px -15px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset -15px -15px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset -15px -15px 19px -11px rgba(255, 255, 255, 0.4);
    }





    .ur2 {
        transform: rotateX(-10deg) rotateY(-10deg) scale(1.01);
        -webkit-box-shadow: inset 15px -15px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 15px -15px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset 15px -15px 19px -11px rgba(255, 255, 255, 0.4);
    }




    .dl2 {
        transform: rotateX(10deg) rotateY(10deg) scale(1.01);

        -webkit-box-shadow: inset -15px 15px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset -15px 15px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset -15px 15px 19px -11px rgba(255, 255, 255, 0.4);
    }

    .dr2 {
        transform: rotateX(10deg) rotateY(-10deg) scale(1.01);
        -webkit-box-shadow: inset 15px 15px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 15px 15px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset 15px 15px 19px -11px rgba(255, 255, 255, 0.4);
    }

    .uu2 {
        transform: rotateX(-10deg) scale(1.01);
        -webkit-box-shadow: inset 0px -15px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 0px -15px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset 0px -15px 19px -11px rgba(255, 255, 255, 0.4);
    }

    .dd2 {
        transform: rotateX(-10deg) scale(1.01);
        -webkit-box-shadow: inset 0px 15px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 0px 15px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset 0px 15px 19px -11px rgba(255, 255, 255, 0.4);
    }

    .rr2 {
        transform: rotateY(-10deg) scale(1.01);
        -webkit-box-shadow: inset 15px 0px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 15px 0px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset 15px 0px 19px -11px rgba(255, 255, 255, 0.4);

    }

    .ll2 {
        transform: rotateY(10deg) scale(1.01);
        -webkit-box-shadow: inset -15px 0px 19px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset -15px 0px 19px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset -15px 0px 19px -11px rgba(255, 255, 255, 0.4);
    }

    .oo2 {
        transform: scale(.99);
        -webkit-box-shadow: inset 7px 7px 49px -11px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 7px 7px 49px -11px rgba(255, 255, 255, 0.4);
        box-shadow: inset 7px 7px 49px -11px rgba(255, 255, 255, 0.4);
    }

    




    &__shape2 {
        
        justify-self: start;
        margin-left: 2rem;
        width: 40rem;
        height: 40rem;
        overflow: hidden;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        perspective: 500rem;
        -moz-perspective: 500rem;
        transition: all .2s;
        transition-timing-function: cubic-bezier(0.75, 0.76, 0.47, 1.19);


        &--1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;

        }

        &--2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &--3 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &--4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &--5 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &--6 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;

        }

        &--7 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;

        }

        &--8 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }







    }



    &__img {
        height: 100%;
        transform: translateX(1rem) translateY(2rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }




    .a-contanar {

        z-index: 2;



        h4 {
            font-size: 3rem;
            color: $color-primary-light;

        }

        ul {
            font-size: 1.5rem;
            list-style-type: none;

        }

    }


    .b-contanar {

        h4 {
            font-size: 3rem;
            color: $color-primary-light;

        }

        p {
            font-size: 2rem;

        }

    }

    .Donwload__position {

        align-self: end;






        .btn {
            background-color: aqua;

            color: $color-grey-light-1;
            background-color: $color-secondary-dark;
            padding-left: 5rem;

            &:hover {
                background-color: $color-secondary-light;
            }

            &:active {
                color: $color-primary;
            }
        }
    }


    .title-p {
        animation: title 8s forwards 3s ease-out;
        justify-self: start;
        display: flex;
        margin-left: 17rem;





        .title {
            font-weight: 900;
            font-size: 14rem;
            margin-right: 5rem;


        }
    }

    .line2 {

        width: 0%;
        border-bottom: 1rem solid $color-primary-light;
        animation: aboutline 12s forwards 14s ease-out;
        z-index: 1;
    }

    .s2-bg {
        background-color: #526760;


    }

    .aboutMe--posich {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--p {
            position: absolute;
            top: 1%;
            left: 10%;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-secondary-dark;


            &:hover {
                color: $color-secondary-light;
            }
        }

    }

    .KeyboarIcon {
        font-size: 10rem;
        color: $color-secondary-dark;
        transition: all .2s;
        animation: yourAnimation 2s infinite 0s linear;

        &:hover {
            color: $color-secondary-light;
        }
    }


}




@keyframes aboutline {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


@keyframes aboutline20 {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes title {
    0% {}

    100% {
        opacity: .4;
        color: #526760;
    }
}