.MyProjects1{
    position: relative;
    color: $color-grey-light-1;
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 1rem;
    grid-template-areas: 
      "bg2 . . . . . . . . ."
      "bg2 . h3 h3 h3 . . . . ."
      "bg2 . ptext ptext ptext . . . . ."
      "bg2 . cloneo . . . . . . ."
      "bg2 . . . . . . . . ."
      "bg2 . btn btn btn2 btn2 btn3 btn3 .   ."
      "bg2 . . . . . title-p title-p title-p title-p"
      "bg2 . . . . . title-p title-p title-p title-p"
      "bg2 . . . . . title-p title-p title-p title-p";











    .MyProjects__h3{
        grid-area: h3;
        line-height: 4.6rem;
        color: $color-secondary-light;
        font-size: 4.5rem;

    }


    .MyProjects__text {
        grid-area: ptext;


    }

    .clone{
        grid-area: cloneo;
        width: 100px;
        height: 100px;
    }

    .clone2{
        width: 100px;
        height: 100px;
        transition: all .2s ease;
        &:hover{
            transform: scale(1.1) rotate(2deg);

        }
    }




    .btn--posich{
        grid-area: btn;
    }

    .btn--posich-2{
        grid-area: btn2;

    }

    .btn--posich-3{
        grid-area: btn3;

    }

    .gettouch{
        color: $color-grey-light-1;
        background-color: $color-secondary-dark;
        padding-left:5rem; 
        &:hover{
            background-color: $color-secondary-light;
        }

        &:active{
            color: $color-primary;
        }

        width: 25rem;
    }

    .s2-bg{
        grid-area: bg2;
        background-color: #526760;
        @media only screen and (max-width: 1607px) {
            display: none;
        }
    }

    .title-p{
        grid-area: title-p;
        animation: title 8s forwards 3s ease-out;
        justify-self: end;

    
        .title{
            font-weight: 900;
            font-size: 14rem;
            margin-right: 5rem;
        }
    }
}