.OutSkills{
    color: $color-grey-light-1;
    width: 100%;
    padding: 12px;
    position: relative;
    height: 100vh;

    .next{
        position: sticky;
        left:  90%;
        bottom: 5%;
        transform: scale(1.2);
    }

    .mainConten{
        border-radius: 12px;
        max-width:  1200px;
        background-color: #526760;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        padding: 24px;
        display: grid; 

        .skills{

            padding: 3rem;
            display: grid;
    
            .header{

                h4{
                    font-size: 2rem;
                    line-height: 3rem;
                    color: $color-primary-light;
                }
    
                h3{
                    font-size: 3rem;
                    line-height: 3rem;
    
                }
            }
            .meind{
                display: flex;
                justify-content: space-around;
                @media only screen and (max-width: 700px) {
                    flex-direction: column;
            
                }
            }
            .exporience{
      
                h4{
                    font-size: 2rem;
                    color: $color-primary-light;
    
                }
                ul li span{
                    font-size: 1.5rem;
                    display: block; 
                    line-height: 3rem;
                    
                }
                ul li p{
                    font-size: 1.2rem;
                    display: block; 
                    color: $color-secondary-light;
                    line-height: 1rem;
                    transition: all .1s ease-out;
                    &:hover{
                        cursor: none;
                        font-size: 1.4rem;
                        
                    }
                }
                ul{
                    list-style-type: none;
    
                }
    
            }
            .build{
    
                @media only screen and (max-width: 414px) {
    
                }
                @media only screen and (max-width: 348px) {
                    
                }
                .inoc{
                    font-size: 9rem;
                    margin: 15px;
                    &:hover{
                        animation: swing 1s forwards  ease-in-out;
                    }
                }
                h4{
                    font-size: 2rem;
                    color: $color-primary-light;
    
                }
                ul li span{
                    font-size: 1.5rem;
                    display: block; 
                    line-height: 3rem;
                    
                }
                ul li p{
                    font-size: 1.2rem;
                    display: block; 
                    color: $color-secondary-light;
                    line-height: 1rem;
                    transition: all .1s ease-out;
                    &:hover{
                        cursor: none;
                        font-size: 1.4rem;
                        
                    }
                }
                ul{
                    list-style-type: none;
    
                }
    
            }
        }

    }


    .btn--posich{

        align-self: center;
        .gettouch{
            color: $color-grey-light-1;
            background-color: $color-secondary-dark;
            padding-left:5rem; 
            &:hover{
                background-color: $color-secondary-light;
            }

            &:active{
                color: $color-primary;
            }

        }
    }



//     Custom  CMD
// Mean Stack
// PWA 
// Mern Stack
// Wdeb Application
// Single Page Application
// RESTful API 

    .framworks{

        background-image:  linear-gradient(to right, $color-primary-light, $color-primary-dark);
        opacity: 1;
      
        padding: 5vh;

        
    }


    .icon{
        font-size: 11rem;
        &:hover{
            animation: swing 1s forwards  ease-in-out;
        }

    }







    .s2-bg{
        background-color: #526760;

        @media only screen and (max-width: 968px) {
            display: none;
            
        }
    }

    .title-p{
        animation: title 8s forwards 3s ease-out;

        justify-self: end;
        
      
        @media only screen and (max-width: 768px) {
            justify-self: center;
        }
        @media only screen and (max-width: 569px) {
            grid-row-start: 9;
        }
       
        .title{
            font-weight: 900;
            font-size: 14rem;
            margin-right: 5rem;
            @media only screen and (max-width: 749px) {
             margin-right: 0rem;
             font-size: 12rem;
            }
            @media only screen and (max-width: 569px) {
                font-size: 10rem;
            }
            @media only screen and (max-width: 479px) {
                font-size: 8rem;
            }
            @media only screen and (max-width: 479px) {
                font-size: 6rem;
            }
        }
    }

    .line{
        width: 0%;
        border-bottom: 1rem solid $color-primary-light;
        animation: aboutline 12s forwards 2s ease-out;
    }

    .line2{
        width: 0%;
        border-bottom: 1rem solid $color-primary-light;
        animation: aboutline20 12s forwards 14s ease-out;
    }

    .aboutMe--posich{
        position: absolute;
        bottom:1%;
        left :27%;
        transform: translate(-50%, -50%);
  
        &--p{
            position: absolute;
            top:1%;
            left: 10%;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-secondary-dark;
            

            &:hover{
                color: $color-secondary-light;
            }
        }
    }

    .KeyboarIcon{
        font-size: 10rem;
        color: $color-secondary-dark;
        transition: all .2s;
        animation: yourAnimation 2s infinite 0s linear;
        &:hover{
            color: $color-secondary-light;
        }
    }

}

.TableSkills{
   padding: 2rem; 
   @media only screen and (max-width: 500px) {
    padding: .5rem; 
    }
    padding-top: 3rem;
   .framwork{
       h3{
           font-size: 3rem;
       }
   }
}


